h3 {
    color: rgb(226, 83, 83);
}

/* h3.title {
    color: rgb(226, 83, 83);
}

h3 .title {
    color: rgb(226, 83, 83);
} */
.error2 {
    color: rgb(25, 192, 19);
}
.flip-list-move{
    transition: transform .5s;
}
.alert {
    background-color: #fcc;
    padding: 10px;
    border: 1px solid #f33;
}